Checks: >
  misc-include-cleaner,
  google-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -google-readability-namespace-comments
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
