services:
  makerspace-calculator:
    profiles: [parent]
    container_name: makerspace-calculator
    build:
      context: .
    volumes:
      - .:/app
    entrypoint: /bin/bash
    stdin_open: true
    tty: true
  prod:
    profiles: [prod]
    extends: makerspace-calculator
    build:
      dockerfile: docker/Dockerfile.prod
  dev:
    profiles: [dev]
    extends: makerspace-calculator
    build:
      dockerfile: docker/Dockerfile.dev
    security_opt:
      - seccomp=unconfined
